$dark-navy: #313d5d;
$jet-black: #1e1e1e;
$dark-gray: #4b4b4b;
$medium-gray: #545454;
$neutral-gray: #b3b3b3;
$light-gray: #d9d9d9;
$sky-blue: #42ade2;
$mint-green: #6adbc6;
$light-sky-blue: #cbf4ff;
$alert-red: #e53939;
$notice-red: #fb5454;
$gold-yellow: #ffd233;
$soft-cream: #fff8e1;
$white: #fff;
