@use 'colors' as *;

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 8px 0;
  border-bottom: 2px solid $sky-blue;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-link {
  display: flex;
  align-items: center;
  svg {
    display: block;
    margin-right: 10px;
  }
}

.menu-container {
  display: flex;
}
