@use 'colors' as *;

.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 34px;
  border-radius: 20px;
  color: $dark-navy;
  transition: border 0.5s ease-in-out;
  &:hover {
    border: 1px solid $light-sky-blue;
  }
  margin-left: 20px;
}
